body {
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-weight: light;
	font-size: 18px;
}
ul {
	padding-left: none;
	list-style-type: none;

	li {
		display: inline-block;
		
		width: 256px;
		max-width: 100%;

		box-sizing: border-box;
		padding: 0px 1em 1em;
		border: 1px solid #eee;
	}
}